<div class="row">
    <div class="col-lg-4" ng-controller="AgentMenuController as agentMenu">
        <div><p>Ping: <input ng-model="agentMenu.pingValue" /></p></div>
        <div ng-repeat="agent in agentMenu.agents">
            <ul>
                <li>Name: {{agent.machineName}}</li>
                <li>ID: <a ui-sref="home.agent({agentId:agent.id})">{{agent.id}}</a></li>
                <li>Workers: {{agent.workers.length}}</li>
                <li>Connections: {{agent.totalConnectionCount}}</li>
                <li>Pong Value: {{agent.pongValue}}</li>
            </ul>
            <button ng-click="agentMenu.Ping($index)">Ping</button>
        </div>
    </div>
    <div class="col-lg-8" ui-view></div>
</div>
