<!-- Current blade -->
<div class="col-lg-4 col-md-4 blade-col">
    <div class="blade" ng-controller="AgentMenuController as agentMenu">
        <!-- Toolbar -->
        <div class="blade-title-bar">
            <div class="blade-title-bar-item  tool-tip" tool-tip="Close">
                <span class="glyphicon glyphicon-remove"
                      ui-sref="^"></span>
            </div>
        </div>

        <!-- Blade header -->
        <div class="blade-header">Agents</div>

        <!-- Blade contents -->
        <div class="blade-body">
            <div class="row blade-tile-row">
                <div class="colg-lg-12 blade-tile-col">
                    <!-- Agent list grid -->
                    <table class="agent-list">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Connections</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="agent in agentMenu.agents"
                                ng-class="{ 'inactive-row' : agent.status !== 'active'}"
                                ui-sref=".agent({agentId:agent.id})"
                                ui-sref-active="selected-row">
                                <td class="col-lg-3 grid-col">{{agent.machineName}}</td>
                                <td class="col-lg-3 grid-col">{{agent.id | limitTo:5}}</td>
                                <td class="col-lg-3 grid-col">{{agent.status}}</td>
                                <td class="col-lg-3 grid-col">{{agent.totalConnectionCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Next blade -->
<div class="col-lg-8 col-md-8 blade-col">
    <div class="row blade-row" ui-view></div>
</div>
