<div class="col-lg-8 col-md-8 blade-col">
    <div class="blade" ng-controller="AgentDetailController as agentDetail">
        <!-- Toolbar -->
        <div class="blade-title-bar">
            <div class="blade-title-bar-item  tool-tip" tool-tip="Close">
                <span class="glyphicon glyphicon-remove"
                      ui-sref="^"></span>
            </div>
        </div>

        <!-- Blade header -->
        <div class="blade-header">Agent: {{agentDetail.agent.id | limitTo:5}}</div>

        <!-- Blade contents -->
        <div class="blade-body dark">

            <div class="row blade-tile-row">
                <div class="col-lg-12 blade-tile-col">
                    <!-- Console tile -->
                    <div class="console-tile" ng-controller="AgentConsoleController as console">
                        <div class="console-title-bar">
                            <div class="console-title-bar-item  tool-tip" tool-tip="Pin">
                                <span class="glyphicon glyphicon-pushpin {{console.pinnedClass()}}"
                                      ng-click="console.togglePin()"></span>
                            </div>
                            <div class="console-title-bar-item  tool-tip" tool-tip="Auto scroll">
                                <span class="glyphicon glyphicon-arrow-down {{console.autoScrollClass()}}"
                                      ng-click="console.toggleAutoScroll()"></span>
                            </div>
                            Agent: {{agentDetail.agent.id | limitTo:5}}
                        </div>
                        <div class="console-body"
                             id="{{console.consoleId}}"
                             ng-click="console.disableautoscroll()">
                            <div on-repeat ng-repeat="line in console.agent.output track by $index">{{line}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row blade-tile-row">
                <div class="col-lg-12 blade-tile-col">
                    <!-- Info tile -->
                    <div class="blade-tile">
                        <ul>
                            <li>Name: {{agentDetail.agent.machineName}}</li>
                            <li>ID: {{agentDetail.agent.id | limitTo:5}}</li>
                            <li>Status: {{agentDetail.agent.status}}</li>
                            <li>Connections: {{agentDetail.agent.currentConnections}} / {{agentDetail.agent.totalConnectionCount}}</li>
                            <li>Pong Value: {{agentDetail.agent.pongValue}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row blade-tile-row">
                <div class="col-lg-12 blade-tile-col">
                    <!-- Ping tile -->
                    <div class="blade-tile">
                        <form name="agentPingForm" ng-submit="agentDetail.Ping()" class="form-horizontal">
                            <div class="form-group" ng-class="{ 'has-error' : agentPingForm.agentPingValue.$invalid && agentPingForm.agentPingValue.$touched}">
                                <label for="agentPingValue" class="col-lg-4 control-label">Value</label>
                                <div class="col-lg-4">
                                    <input type="number"
                                           class="form-control"
                                           id="agentPingValue"
                                           name="agentPingValue"
                                           placeholder="Value"
                                           ng-model="agentDetail.pingValue"
                                           required />
                                </div>
                                <div class="col-lg-4">
                                    <button class="btn btn-primary"
                                            type="submit"
                                            ng-disabled="agentPingForm.$invalid">
                                        Ping
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row blade-tile-row">
                <div class="colg-lg-12 blade-tile-col">
                    <!-- Worker list tile -->
                    <div class="grid-tile">
                        <div class="row grid-row">
                            <div class="col-lg-4 grid-col">Worker</div>
                            <div class="col-lg-4 grid-col">Connections</div>
                            <div class="col-lg-4 grid-col">Running</div>
                        </div>

                        <div ng-repeat="worker in agentDetail.agent.workers"
                             class="row grid-row"
                             ng-class="{ 'inactive-row' : worker.updated !== true}"
                             ui-sref=".worker({workerId:worker.id})"
                             ui-sref-active="selected-row">
                            <div class="col-lg-4 grid-col">{{worker.id}}</div>
                            <div class="col-lg-4 grid-col">{{worker.connectedCount}}</div>
                            <div class="col-lg-4 grid-col">{{worker.updated}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 blade-col">
    <div class="row blade-row" ui-view></div>
</div>
