<div ng-controller="DashboardController as dashboard">
    <div class="container">
        <div class="row home-menu-row">
            <div class="col-lg-2 menu-item" ui-sref=".run" ui-sref-active="selected">
                Runs
            </div>
            <div class="col-lg-2 menu-item" ui-sref=".agents" ui-sref-active="selected">
                Agents
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
    <div class="dashboard">
        <div class="container blade-container">
            <div class="row blade-row" ui-view></div>
        </div>
    </div>
</div>
