<!-- Current blade -->
<div class="col-lg-2 col-md-2 blade-col">
    <div class="blade" ng-controller="RunMenuController as runMenu">
        <!-- Blade header -->
        <div class="blade-header">
            Runs
            <a class="pull-right" ui-sref="^">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>

        <!-- Blade contents -->
        <div class="blade-body">

            <div class="row blade-tile-row">
                <div class="col-lg-12 blade-tile-col">
                    <!-- New run list tile -->
                    <div class="grid-tile">
                        <div class="row grid-row">
                            <div class="col-lg-12 grid-col">New Run</div>
                        </div>

                        <div class="row grid-row"
                             ng-repeat="definition in runMenu.runDefinitions"
                             ui-sref=".new({runType:definition.Type})"
                             ui-sref-active="selected-row">
                            <div class="col-lg-12 grid-col">
                                {{definition.Type}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row blade-tile-row" >
                <div class="col-lg-12 blade-tile-col">
                    <!-- Current list tile -->
                    <div class="grid-tile">
                        <div class="row grid-row">
                            <div class="col-lg-12 grid-col">Run Details</div>
                        </div>

                        <div class="row grid-row"
                             ng-if="runMenu.isRunning()"
                             ui-sref=".current"
                             ui-sref-active="selected-row">
                            <div class="col-lg-12 grid-col">
                                Current
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Next blade -->
<div class="col-lg-10 col-md-10 blade-col">
    <div class="row blade-row" ui-view></div>
</div>
