<!-- Current blade -->
<div class="col-lg-12 col-md-12 blade-col">
    <div class="blade" ng-controller="RunDetailController as runDetail">
        <!-- Toolbar -->
        <div class="blade-title-bar">
            <div class="blade-title-bar-item  tool-tip" tool-tip="Close">
                <span class="glyphicon glyphicon-remove"
                      ui-sref="^"></span>
            </div>
        </div>

        <!-- Blade header -->
        <div class="blade-header">Run Details</div>

        <!-- Blade contents -->
        <div class="blade-body dark">

            <div class="row blade-tile-row">
                <div class=" col-lg-12 blade-tile-col">
                    <!-- Counter selection tile -->
                    <div class="blade-tile">
                        <select multiple
                                ng-model="runDetail.selectedCounter"
                                ng-options="counter.dataSeries as counter.name for counter in runDetail.performanceCounters"></select>
                    </div>
                </div>
            </div>

            <div class="row blade-tile-row">
                <div class=" col-lg-12 blade-tile-col">
                    <!-- Counter plot tile -->
                    <div class="blade-tile">
                        <div id="{{runDetail.plotId}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
